<mat-tab-group animationDuration="2000ms">
    <mat-tab label="Developpment">
        <div class="row">
            <div class="col">
                <form (ngSubmit)="onSubmit()"  style="max-width: 600px; margin: 12px 12px;" novalidate
                    [ngStyle]="{backgroundColor: 'var(--highlight-bg)'}" >
                    <div class="row g-3">
                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Dev Name</mat-label>
                                <input matInput type="text" id="devname" [(ngModel)]="dev.devname" name="devname"
                                    required>
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width" >
                                <mat-label>Version</mat-label>
                                <mat-select name="nomMajj" [(ngModel)]="dev.maj.idMaj" id="" [disabled]="!isModificationAllowed">

                                    <mat-option *ngFor="let maj of majs" [value]="maj.idMaj">{{maj.nomMaj}}</mat-option>
                                </mat-select>
                            </mat-form-field>


                        </div>

                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Dll</mat-label>
                                <input matInput type="text" [(ngModel)]="dev.dll" id="dll" name="dll" required>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Site</mat-label>
                                <mat-select name="dev.user.site" [(ngModel)]="dev.user.site" id="">
                                    <mat-option placeholder="" value="">Site</mat-option>
                                    <mat-option *ngFor="let site of sites"
                                        [value]="site.idSite">{{site.nomSite}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row g-3">
                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Developer</mat-label>
                                <mat-select name="username" [(ngModel)]="dev.user.id" id="username">

                                    <mat-option *ngFor="let User of allUsers"
                                        [value]="User.id">{{User.username}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Type Dev</mat-label>
                                <input matInput type="text" id="typeDev" [(ngModel)]="dev.etatdev.nomEtatDev"
                                    name="typeDev" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>History</mat-label>
                                <textarea matInput id="history" name="history" [(ngModel)]="dev.devComment"
                                    required></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Comment</mat-label>
                                <textarea matInput id="comment" name="devcomment" [(ngModel)]="dev.devComment"
                                    required></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row g-3">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>bug</mat-label>
                            <textarea matInput id="numbeg" name="numbeg" [(ngModel)]="dev.numBug" required></textarea>
                        </mat-form-field>
                    </div>

                    <div class="button-container">


                        <button type="button" (click)="onSubmit()" class="btn btn-secondary">Update</button>


                    </div>
                </form>
            </div>
            <div class="col">
                <div class="col-md-8">
                    <p>Fonctions</p>

                    <p-scroller [items]="fonctions" [itemSize]="70" styleClass="border-100"
                        [style]="{'width': '400px', 'height': '150px','backgroundColor':' rgb(235, 233, 233)'}">
                        <ng-template pTemplate="item" let-fonction>
                            <div class="flex align-items-center p-2" style="height: 50px;">{{ fonction.descrAnglais }}
                            </div>
                        </ng-template>
                    </p-scroller>
                    <br>
                    <div class="button-container">
                        <button type="button" class="btn btn-secondary">select Fonctions</button>


                    </div>
                </div>

                <div class="col-md-8">
                    <p>Validation List</p>
                    <p-scroller [items]="validations" [itemSize]="70" styleClass="border-1 surface-border"
                        [style]="{'width': '400px', 'height': '150px','backgroundColor':' rgb(235, 233, 233)'}">
                        <ng-template pTemplate="item" let-validation>
                            <div class="flex align-items-center p-2" style="height: 50px;">{{ validation.typeValid }}
                                {{validation.etatValid}} {{validation.dateValid}}</div>
                        </ng-template>
                    </p-scroller>
                    <br>
                    <div class="button-container">
                        <button type="button" class="btn btn-secondary">select Validations</button>


                    </div>
                </div>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Vehicules">

        <p-pickList [source]="sourceProducts" [target]="targetProducts" sourceHeader="Available Vehicules "
            targetHeader="Vehicules associated with dev " [dragdrop]="true" [responsive]="true"
            [sourceStyle]="{width:'5rm' ,height: '20rem' }" [targetStyle]="{width:'5rm', height: '20rem' }"
            filterBy="nomVeh" sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name"
            breakpoint="1400px" class="custom-picklist">
            <ng-template let-targetProducts pTemplate="item">
                <div class="flex flex-wrap p-2 align-items-center gap-3">

                    <div class="flex-1 flex flex-column gap-2">
                        <span class="font-bold">{{ targetProducts?.nomVeh }}</span>

                    </div>
                    <div class="flex-1 flex flex-column gap-2">
                        <span class="font-bold">{{ targetProducts?.marque?.nomMarque }}</span>

                    </div>

                </div>
            </ng-template>

        </p-pickList>


    </mat-tab>
    <mat-tab label="CDC">
        <form #updateUserForm="ngForm" (ngSubmit)="onSubmit()"
            style="max-width: 600px; margin-left: 500px ;margin-top: 50px;" novalidate>
            <div class="row g-3">
                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" id="dev.cdc.nomCdc" [(ngModel)]="dev.cdc.nomCdc" name="nomCdc"
                            required>
                    </mat-form-field>
                </div>

            </div>
            <div class="row g-3">
                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Reference Ardia </mat-label>
                        <input matInput type="text" id="refCdcArdia" [(ngModel)]="dev.cdc.refCdcArdia"
                            name="refCdcArdia" required>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>References Actia</mat-label>
                        <input matInput type="text" id="dev.cdc.refCdc" [(ngModel)]="dev.cdc.refCdc"
                            name="dev.cdc.refCdc" required>
                    </mat-form-field>
                </div>

            </div>

            <div class="row g-3">
                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Indice</mat-label>
                        <input matInput type="text" id="indCdc" [(ngModel)]="dev.cdc.indCdc" name="indCdc" required>
                    </mat-form-field>
                </div>

                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="dev.cdc.creation" name="creationDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>

            <div class="row g-3">
                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Site</mat-label>
                        <mat-select name="dev.user.site" [(ngModel)]="dev.user.site" id="site">
                            <mat-option placeholder="" value="">site</mat-option>
                            <mat-option *ngFor="let site of sites" [value]="site.idSite">{{site.nomSite}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label> Data Source</mat-label>
                        <mat-select name="rverse.nomReverse" [(ngModel)]="dev.cdc.reverse.nomReverse" id="nomReverse">

                            <mat-option *ngFor="let reverse of reverses"
                                [value]="reverse.idReverse">{{reverse.nomReverse }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="button-container">



                <button type="button" (click)="showDialog()" class="btn btn-secondary">Select Cdc</button>
                <button type="button" class="btn btn-secondary">Validate</button>

            </div>


        </form>

    </mat-tab>

    <mat-tab label="Menu">
        <form #updateUserForm="ngForm" (ngSubmit)="onSubmit()"
            style="max-width: 600px; margin-left: 500px ;margin-top: 50px;" novalidate>
            <div class="row">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>URL</mat-label>
                    <input matInput type="url" id="pathMenu" [(ngModel)]="dev.menu.pathMenu" name="pathMenu" required>
                </mat-form-field>

                <div class="file-input">
                    <input type="file" accept=".pdf, .doc, .docx">
                </div>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Ecu Name</mat-label>
                    <input matInput type="url" id="nomEcu" [(ngModel)]="dev.ecu.nomEcu" name="nomEcu" required>
                </mat-form-field>


            </div>

            <div class="button-container">
                <button type="button" class="btn btn-secondary">Generate Menu</button>
                <button type="button" class="btn btn-secondary">Generate XML </button>


            </div>


        </form>

    </mat-tab>
    <mat-tab label="Adaptateur">


    </mat-tab>
</mat-tab-group>



<p-dialog header="Select Cdc" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body"
    [(visible)]="visible" [style]="{width: '75vw'}" [contentStyle]="{height: '300px'}">
    <p-table [value]="cdc" [scrollable]="true" scrollHeight="flex" [tableStyle]="{'min-width': '50rem'}">

        <ng-template pTemplate="header">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Reference</th>
                <th>ind</th>
                <th>site</th>
                <th></th>
                <th style="width: 5rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cdc>
            <tr>
                <td>{{cdc.idCdc}}</td>
                <td>{{cdc.nomCdc}}</td>
                <td>{{cdc.refCdc}}</td>
                <td>{{cdc.indCdc}}</td>
                <td>{{cdc.dev?.user?.site}}</td>
                <td>
                    <button type="button" pButton pRipple icon="pi pi-plus" (click)="selectProduct(cdc)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <button type="button" pButton pRipple icon="pi pi-times" (click)="visible=false" label="Dismiss"
            class="p-button-text"></button>
    </ng-template>
</p-dialog>